.App {
  text-align: center;
  background-color: #282c34;
  color: #FFF;
  min-height: 100%;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, #root {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.booksTile, .usersTile {
  display: inline-block;
  width: 30%;
  height: 250px;
  border: 1px solid #FFF;
  border-radius: 3%;
  padding: 20px;
  margin: 200px 10px;
  color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.booksTile:hover, .usersTile:hover {
  text-decoration: none;
  color: #FFF
}
.booksTile {
  background-image: url(https://image.shutterstock.com/z/stock-photo-many-open-old-multicolored-books-stand-on-the-bookshelf-1707816769.jpg);
}
.usersTile {
  background-image: url(https://image.shutterstock.com/z/stock-photo-students-youth-adult-reading-education-knowledge-concept-387881125.jpg);
  background-size: 100%;
  background-position: center top;
}

.tileText {
  font-size: 7vw;
  position: relative;
  top: 45%;
  -webkit-text-stroke: 2px black;
}

button:focus { outline:0 !important; }

